[submodule "FunctionsGame/Models"]
	path = FunctionsGame/Models
	url = https://github.com/kalkatos/functions-game-models.git
[submodule "FunctionsGame/NetworkModel"]
	path = FunctionsGame/NetworkModel
	url = https://github.com/kalkatos/network-model.git
